.home{
text-align: center;
}
.contact{
    text-align: center;
}
.beds{
    text-align: center;
}
.seats{
    text-align: center;
}
.shelves{
    text-align: center;
}
.tables{
    text-align: center;
}
a{
    text-decoration: none;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
    text-decoration: none;
    display: inline;
    width: 50px;
    padding: 30px 30px;
}
h1{
    text-align: center;
    background-color: darksalmon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
.intro{
    text-align: center;
    background-color: bisque;
}
.home1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color:lightblue;
    font-size: large;
    border-radius: 50px 50px 50px 50px;
}
.home2{
    width: 100%;
}
.home2 .pp1{
    margin: inherit;
    border-radius: 50px 50px 50px 50px;
    background-color: lightblue;
    width: 45%;
    float: left;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
}

.home2 .pp2{
    margin: inherit;
    border-radius: 50px 50px 50px 50px;
    background-color: lightblue;
    width: 50%;
    float: right;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
}

.table1{
    padding-left: 50px;
    display: table-cell;
}
.table2{
    padding-left: 50px;
    display: table-cell;
}
.table3{
    padding-left: 50px;
    display: table-cell;
}
.table4{
    padding-left: 20px;
    float: left;
    display: table-cell;
}
.table5{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.table6{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.bed1{
    padding-left: 20px;
    float: left;
    display: table-cell;
}
.bed2{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.bed3{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.bed4{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.bed5{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.bed6{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.bed7{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.bed8{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.bed9{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.bed10{
    padding-left: 20px;
    float: left;
    display: table-cell;
}
.cabinet1{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.cabinet2{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.cabinet3{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.cabinet4{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.cabinet5{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.cabinet6{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.cabinet7{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.cabinet8{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.cabinet9{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.cabinet10{
    padding-left: 20px;
    float: left;
    display: table-cell;
}
.cabinet11{
    padding-left: 20px;
    float: left;
    display: table-cell;
}
.cabinet12{
    padding-left: 20px;
    float: left;
    display: table-cell;
}
.seat1{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat2{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat3{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat4{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat5{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat6{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat7{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat8{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat9{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat10{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat11{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat12{
    padding-left: 20px;
    float: right;
    display: table-cell;
}
.seat13{
    padding-left: 20px;
    float: left;
    display: table-cell;
}
.contact1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.form1 {
    padding: 100px;
    text-align: center;
    background-color: lightblue;
  }
  .card{
      border: none;
  }
  .card-body{
      background-color: chocolate;
      border-radius: 50%;
      margin: auto;
      padding: 40px;
  }